body {
    background-color: #F8F8F8;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
}

.container {
    max-width: 960px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.card-header {
    background-color: #395fc7;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.card-body {
    background-color: #f0eeee;
    border: 1px solid #CCCCCC;
    flex-grow: 2!important;
}

.team-heading {
    background-color: #d74f4f;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.employee-card {
    margin: 10px;
    width: 250px;
}

/* Media Queries */

@media only screen and (min-width: 576px) {
    .team-area {
        flex-wrap: wrap;
        justify-content: center;
    }

    .employee-card {
        margin: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .team-area {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .employee-card {
        margin: 10px;
    }
}